.footer {
    background-color: #eab861;
}
h3 {
    font-family: 'Galada', cursive;
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
    color: black;
    display: inline-block;
    margin-left: 150px;
    margin-right: 150px;

}
h3:hover {
    color: rgba(0, 0, 0, 0.536);
}
.words {
    text-align: center;   
}
.icons {
    text-align: center;
    padding-bottom: 30px;
}
.fa-snapchat-square {
    padding: 3px;
    font-size: 50px;
    color: yellow;
}
.fa-snapchat-square:hover {
    color:  rgba(255, 255, 0, 0.536);
}
.fa-instagram {
    padding: 3px;
    font-size: 50px;
    color:  rgb(255, 0, 204);
}
.fa-instagram:hover {
    color: rgba(255, 0, 204, 0.536);
}
.fa-facebook-square {
    padding: 3px;
    font-size: 50px;
    color:rgb(65, 65, 201);
}
.fa-facebook-square:hover {
    color: rgba(65, 65, 201, 0.536);
}
.fa-linkedin {
    padding: 3px;
    font-size: 50px;
    color:  rgb(52, 52, 213); 
}
.fa-linkedin:hover {
    color: rgba(52, 52, 213, 0.536)
}
.fa-pinterest-square {
    padding: 3px;
    font-size: 50px;
    color: rgb(182, 21, 21);
}
.fa-pinterest-square:hover {
    color: rgba(182, 21, 21, 0.536);
}
.fa-youtube-square {
    padding: 3px;
    font-size: 50px;
    color: rgb(225, 19, 19);
}
.fa-youtube-square:hover {
    color: rgba(225, 19, 19, 0.536);
}
.fa-twitter-square {
    padding: 3px;
    font-size: 50px;
    color: rgb(67, 162, 245);
}
.fa-twitter-square:hover {
    color: rgba(67, 162, 245, 0.536);
}
.fa-rss-square {
    padding: 3px;
    font-size: 50px;
    color: rgb(245, 82, 22);
}
.fa-rss-square:hover {
    color: rgba(245, 82, 22, 0.536);
}
